.research-page {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.program-selection,
.research-details {
	margin-top: 80px;
}

.program-selection img {
	width: 75vw;
	height: 50vh;
	object-fit: contain;
}

.research-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
}

.research-card h1 {
	color: #333;
}

.research-card {
	width: 250px;
	height: 300px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
	background-color: var(--primary-color);
}

.research-card:hover {
	transform: scale(1.05);
}

.research-card img {
	width: 100%;
	height: 60%;
	object-fit: contain;
}

.program-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 10px;
	text-align: center;
}

.research-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.research-modal-content {
	background: white;
	padding: 30px;
	border-radius: 10px;
	max-width: 600px;
	text-align: center;
}

.modal-actions {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}

.back-button-research {
	position: absolute;
	left: 10vw;
	margin-bottom: 20px;
	padding: 10px;
	cursor: pointer;
	background-color: var(--primary-color);
	border-radius: 25px;
	border-color: var(--secondary-color);
}

@media (max-width: 768px) {
	.research-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		align-items: center;
		justify-content: center;
		gap: 15px;
	}

	.research-card {
		width: auto;
	}

	.program-selection {
		margin: 0;
	}
	.program-selection h2 {
		margin-top: 50px;
	}

	.program-selection img {
		height: 25vh;
		margin: 0;
	}

	.back-button-research {
		display: none;
	}

	.research-details {
		margin: 0;
	}

	.research-modal-content {
		width: 70vw;
		height: auto;
		background-color: var(--primary-color);
	}

	.research-modal-content img {
		width: 70vw;
	}

	.research-modal-content button {
		background-color: var(--secondary-color);
		border-color: var(--secondary-color);
	}
}
